@charset "utf-8";

.search-container{
    height: 100%;
}
.load-shadow{
    z-index: 20
}
.mrf29{
    margin-right: -29px;
}
.page-content{
    padding-bottom: 0;
}
.pt61{
  padding-top: 61px;
}
.c-input input[type="text"], .c-input input[type="password"], .c-input input[type="tel"] {
    width: 100%;
    height: 0.27rem;
    padding-left: 0.1rem;
    padding-right: 0.32rem;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
}
.c-input input[type='text']::-webkit-input-placeholder{
    color: #1b374b; }
.search-container .search-box {
    padding: 1rem ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    z-index: 50;
}
.search-container .search-box .c-input {
    position: relative;
    width: 79%;
    /*height: 3rem;*/    
    border-radius: 4px;  
    margin-left: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #eef3f5
}
.search-box .search-icon,.search-box .delete_x {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0.2rem;
    right: 0.3rem;
    color: #a2a2a2;
    line-height: 100%;
    z-index: 1;
    background: url(../images/icon.png) no-repeat;
    background-position: 6px -202px;
    background-size: cover;
}
.search-box .delete_x{
    background-position: 6px -224px!important;
}
.search-box .c-input input {
    height: 3.2rem;
    /*line-height: 3rem;*/
    padding: 5px 0 5px 0.8rem;
    color: #1b374b;
    font-size: 1.4rem
}
.search-box .c-input input::-webkit-input-placeholder{color:#b0c3cc}
.c-close-btn,.search-icon-new{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -0.1rem;
    padding: 0.7rem 1.4rem;
    z-index: 888;
}
.c-close-btn{
    display: none;
}

.c-close-btn i,.search-icon-new i{
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    background: url(../images/delete.png) no-repeat center;
    background-size: 1.3rem auto;
}
.search-icon-new i{
    background: url(../images/icon.png) no-repeat center;
    background-position: 0 -218px;
    background-size: 2.3rem auto;
}
.btn-box {
    /*margin-left: 1.3rem;*/
}
.btn-box p, .btn-box .ui-tab div, .ui-tab .btn-box div {
    line-height: 3rem;
    color: #afc1cb;
}
.history-search {
    padding: 0 1rem 2rem;
    text-align: center;
}
.history-c .history-title {
    margin-bottom: 5px;
    color: #1e384b;
    border-bottom: 1px solid #e5e5e5;
}
.history-c .hot-title, .history-title {
    line-height: 4rem;
}
.history-title span:first-of-type{
    font-weight: bold;
}
.mrf24{
    margin-right: -24px;
}

/*.history-search p {
    line-height: 3rem;
    
}*/
.hot-search{
    margin-top:25px
}
.history-list p{
    padding: 5px 0;
    color: #1e384b;
    display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 2;

}
.history-all{
    height: 2.5rem;
    width: 44%;
    margin: 1rem auto 1.2rem;
    border: 1px solid #afc1cb;
    -webkit-border-radius: 2.5rem;
    border-radius: 2.5rem;
    text-align: center;
}
.history-all span {
    display: inline-block;
    color: #afc1cb;
    line-height: 2.5rem;
    font-size: 12px;
    letter-spacing: 2px;
}
.hot-search .history-list p{
    width: 33.33%;
    float: left;
}
.history-c ul{
    width: 100%
}
.history-c ul li{
    width: 25%;
    float: left;
    margin: 10px 0 15px;
}
.history-c ul li img{
    width: 40px;
    height: 40px;
    margin: 0 auto
}
.history-c ul li a p{
    width: 100%;
    color: #1e384b;

}

/*结果*/
.goods-list{
    padding: 0 10px;
}
.goods-list .title-line {
    padding: 0.6rem 0;
    background-color: #fff;
    font-weight: bold;
}
.floor-product-list{
    padding: 0
}
.goods-list .no-goods {
    padding: 30px 0;
    text-align: center;
}
.goods-list .no-goods img{
    width:70px;
    margin: 0 auto
}
.goods-list .no-goods p{
    padding:  10px
}
.floor-con .adver-slide .floor-head div{
    padding: 1.5rem 0 .5rem;
}
.searchgo .arrow::after{left: 1.2rem;top:1.8rem;}
.btn-box p{color: #1e384b}